* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-family: 'Crete Round', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

/* header section style */
.info {
  height: 40px;
  padding-bottom: 15px;
  background-color: #3c3a39;
}

.info .my-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  position: relative;
}

.my-info a {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.my-info ul {
  display: none;
}

.my-info .name {
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  align-items: center;
  text-align: center;
  padding-left: 24px;
  font-family: 'Roboto', sans-serif;
}

.my-info .harmburger {
  line-height: 24px;
  align-items: center;
  padding-right: 28px;
}

.mobile-menu {
  display: none;
  position: fixed;
  background: #3c3a39;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 86px 96px 106px 0;
}

.mobile-menu ul {
  list-style-type: none;
}

.mobile-menu li {
  margin: 30px 0 0 15px;
}

.mobile-menu a {
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

.close-btn {
  position: absolute;
  font-size: 50px;
  left: 326px;
  top: -5px;
  color: #67798e;
  font-weight: 700;
  cursor: pointer;
}

.mobile-hr {
  width: 320px;
  color: #6f6c6b;
  align-items: center;
  margin: 10px auto;
}

.section-container {
  background-image: url('./images/Group.png');
  background-size: 135px;
  background-position: right 0 bottom -44px;
  background-color: #1c1a19;
  background-repeat: no-repeat;
  height: 607px;
  color: #fff;
  padding: 0;
}

.intro {
  display: flex;
  flex-direction: column;
  margin: 0 12px 13px 10px;
}

/* intro section style */
.intro h1 {
  color: #ff6b00;
  font-size: 56px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Crete Round', serif;
  letter-spacing: 0.03em;
  line-height: 64px;
  padding-bottom: 30px;
  padding-left: 17px;
  padding-top: 40px;
  margin-top: 68px;
}

.about {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
  padding-left: 17px;
  font-family: 'Roboto', sans-serif;
}

.intro .about-me {
  font-size: 15px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  padding-left: 17px;
  padding-right: 27px;
  margin-top: 15px;
}

.social-icon {
  display: flex;
  align-self: flex-start;
  margin-left: 33px;
  padding-top: 18px;
}

.social-icon li {
  padding-right: 18px;
  list-style-type: none;
}

.section-two {
  margin: 24px 24px 30px 24px;
}

.section-title h2 {
  color: #1c1a19;
  font-size: 40px;
  width: 320px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Crete Round', serif;
  padding-top: 80px;
  align-items: center;
  text-align: center;
  margin: 24px auto 0 auto;
}

.section-title hr {
  border: 1px solid #9b9797;
  width: 319px;
  align-items: center;
  margin: 24px auto 24px auto;
}

.section-one h2 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  margin-left: 1px;
  color: #091e42;
  align-items: center;
}

.section-one p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin: 8px 3px;
  padding-right: 15px;
}

.btn-1 {
  width: 45%;
  height: 48px;
  background: #ff6b00;
  text-align: center;
  font-size: 17px;
  border: 1px solid #ff6b00;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.section-one .btn-1 {
  width: 137px;
}

.grid-container {
  display: grid;
  grid-template-columns: 59px 70px 98px 70px;
  column-gap: 10px;
  margin-left: -4px;
  margin-top: 12px;
  margin-bottom: 20px;
}

.grid-item1 {
  text-align: center;
  border: 1px solid hsl(218, 13%, 59%);
  background: #fff;
  box-sizing: border-box;
  color: #091e42;
}

.grid-item2 {
  text-align: center;
  border: 1px solid #8993a4;
  background: #fff;
  box-sizing: border-box;
  color: #091e42;
}

.grid-item3 {
  text-align: center;
  border: 1px solid #8993a4;
  background: #fff;
  box-sizing: border-box;
  color: #091e42;
}

.grid-item4 {
  text-align: center;
  border: 1px solid #8993a4;
  background: #fff;
  box-sizing: border-box;
  color: #091e42;
}

.btn-1:enabled {
  background: #ff6b00;
  color: #fff;
}

.btn-1:hover {
  background-color: #fff;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

.btn-1:active {
  background: #ff6b00;
  color: #fff;
}

.section-one li {
  list-style-type: none;
  line-height: 20px;
  margin-left: 6px;
  padding: 7px 2px 10px 2px;
}

.section-one a {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: #091e42;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

/* actual page styling */
.main {
  width: 100%;
}

.mobile-hidden {
  display: none;
}

.projectHeader h3 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

/* The individual projects section style */
.myProjects {
  background: #fff;
  padding-bottom: 8px;
  margin: 24px 1px 30px 13px;
}

.project {
  margin: 0 24px 36px 12px;
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(../images/projectbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 386px;
  position: relative;
}

.projectHeader {
  padding: 84px 16px 12px 16px;
  height: 81px;
}

.footer-social-icon li {
  list-style-type: none;
  padding-right: 15px;
}

.projectBody {
  width: 272px;
  height: 87px;
  margin: 1px 16px 12px 16px;
}

.projectBody p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.projectBody ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5px;
  margin-bottom: 22px;
}

.about-me2 li {
  list-style-type: none;
}

.popup-menu li {
  list-style-type: none;
  border: 2px solid #dfe1e6;
  font-size: 13px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 3px 6px;
  margin: 2px 10px 8px 1px;
}

.projectBody ul li {
  list-style: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-right: 12px;
  position: static;
}

.projectHTML {
  width: 56px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  margin-right: 12px;
}

.projectHTML ul li {
  width: 32px;
  height: 20px;
  padding: 5px 12px;
  color: #fff;
}

.projectBootstrap {
  width: 95px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  margin-left: -24px;
  margin-right: 12px;
}

.projectBootstrap ul li {
  width: 71px;
  height: 20px;
  padding: 5px 12px;
  color: #fff;
}

.projectRuby {
  width: 61px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  margin-right: 12px;
  margin-left: -10px;
}

.projectRuby ul li {
  width: 37px;
  height: 20px;
  padding: 5px 12px;
  color: #fff;
}

.projectButton {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 48px;
  background: #ff6b00;
}

.projectButton button {
  width: 124px;
  height: 48px;
  padding: 12px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  border: 0;
}

button:enabled {
  background: #ff6b00;
  color: #fff;
}

button:hover {
  background-color: #fff;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

button:active {
  background: #ff6b00;
  color: #fff;
}

button:disabled {
  background: rgba(255, 255, 255, 0.24);
  color: #000;
}

/* about me page styling */
.whoIsAbiodun {
  width: 100%;
  height: 2090px;
  background: #1c1a19;
  background-image: url(./images/footer-image.png);
  background-position: top 390px right 0;
  background-repeat: no-repeat;
}

.abiodundesc {
  position: relative;
}

.abiodundescleft .abiodunHeader {
  width: 327px;
  height: 79px;
  padding-top: 120px;
  margin: 0 24px 24px 24px;
}

.popup-heading h2 {
  font-size: 32px;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #172b4d;
  line-height: 20px;
  padding-bottom: 14px;
}

.abiodundescleft .abiodunHeader h2 {
  font-family: 'Crete Round', serif;
  color: #ff6b00;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
}

.abiodunbody {
  margin: 10px 24px 24px 24px;
}

.abiodunbody p {
  width: 327px;
  height: 175px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.abiodunbtn {
  width: 161px;
  height: 48px;
  text-align: center;
}

.abiodunbtn button {
  background: #ff6b00;
  border: 0;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  line-height: 24px;
}

.about-me2 button {
  margin: 10px 0 80px 120px;
  width: 120px;
}

.abiodunbtn button:enabled {
  background: #ff6b00;
  color: #fff;
}

.abiodunbtn button:hover {
  background-color: #fff;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

.abiodunlbtn button:active {
  background: #ff6b00;
  color: #fff;
}

.abiodunlbtn button:disabled {
  background: rgba(255, 255, 255, 0.24);
  color: #000;
}

/* the background image style */
.abiodundescright {
  position: absolute;
  right: 0;
  top: 360px;
}

.abiodundescleft {
  margin-top: 80px;
}

.abiodundesc hr {
  margin: 208px 24px 130.73px 24px;
  border: 1px solid #fff;
}

/* skills section style */
.abiodunskills {
  margin: 0 24px 0 24px;
  padding-bottom: 131.54px;
}

.skill {
  text-align: center;
}

.abiodunskillheader ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 44px;
}

.abiodunskillheader .lang {
  margin-right: 12px;
  width: 18px;
  height: 18px;
  background: #ff6b00;
  transform: rotate(-45deg);
  margin-bottom: -28px;
}

.abiodunskillheader .language {
  width: 164px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.abiodunskillheader .frame {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  margin-bottom: -28px;
}

.abiodunskillheader .frameworks {
  width: 227px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.abiodunskillheader .sk {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  border-radius: 150px;
  margin-bottom: -28px;
}

.abiodunskillheader > p {
  margin-top: 12px;
}

.abiodunskillheader .skills {
  width: 115px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.abiodunskills ul li {
  list-style-type: none;
}

.skilllist ul li {
  margin-bottom: 28px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

.about-me2 p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin: 70px 0 40px 0;
  padding: 0 15px 0 20px;
  text-align: center;
}

.input-details {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #979493;
  margin: 10px;
  border-top-style: hidden;
  width: 327px;
}

input {
  border: hidden;
  width: 320px;
  padding: 15px 0 15px 20px;
}

.input-details hr {
  border: -0.5px solid #9b9797;
  width: 320px;
  align-items: center;
  margin-left: 10px;
}

.text-area {
  align-items: center;
  border-style: hidden;
  padding: 15px 0 15px 20px;
}

textarea {
  border: none;
  overflow: auto;
  padding: 20px 0 0 12px;
  background: #fbf8f7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  width: 310px;
}

.terminal-line hr {
  border: 1px solid #0d151e;
  height: 1px;
  background: #0d151e;
  width: 120px;
  margin: 0 0 10px 32%;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
}

.footer-social-icon a {
  text-decoration: none;
}

.popup-window {
  display: none;
  margin: 18px 11px 30px 12px;
  position: fixed;
  background: #fff;
  top: 0;
  height: 100%;
  width: 90%;
  padding: 11px 0 12px 13px;
}

.popup-menu {
  display: flex;
}

.popup-btn a {
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.popup-btn {
  display: flex;
  gap: 20px;
  width: 330px;
}

.popup-menu a {
  text-decoration: none;
  margin-top: 15px;
  color: #3c3a39;
}

.image-1 {
  margin: 5px auto;
}

.popup-window .show {
  display: block;
}

.popup-window p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #344563;
  line-height: 24px;
  width: 320px;
  padding-bottom: 10px;
}

.desktop {
  display: none;
}

@media screen and (max-width: 320px) {
  .section-container {
    background-image: url('./images/Group.png');
    background-size: 135px;
    background-position: right 0 bottom -43px;
    background-color: #1c1a19;
    background-repeat: no-repeat;
    height: 684px;
    color: #fff;
    padding: 0;
  }

  .section-title h2 {
    font-size: 30px;
    width: 268px;
  }

  .section-title hr {
    width: 258px;
  }

  .recent-work img {
    width: 280px;
    height: 200px;
  }

  .abiodundescleft .abiodunHeader h2 {
    width: 274px;
    font-size: 60px;
  }

  .abiodunbody p {
    width: 274px;
  }

  .abiodunbtn button {
    margin-left: -1px;
  }

  .grid-container {
    grid-template-columns: 59px 58px 85px 55px;
    column-gap: 5px;
    margin-left: -4px;
  }

  .input-details hr {
    width: 274px;
  }

  .terminal-line hr {
    margin-bottom: 10px;
  }
}

/* Desktop version */
@media screen and (min-width: 1024px) {
  .harmburger {
    display: none;
  }

  .my-info .name {
    margin: 0 1px 0 140px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
  }

  .my-info ul {
    display: flex;
    list-style: none;
    color: #fff;
    margin-right: 130px;
  }

  .social-icon li {
    padding: 8px 0;
  }

  .my-info ul li {
    padding-left: 30px;
    align-items: center;
    text-align: center;
  }

  .my-info a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }

  .section-two {
    margin: 24px 24px 30px 0;
    width: 100%;
  }

  .section-container {
    width: 100%;
    height: 653px;
    position: relative;
    background-image: url('./images/desktop-image.png');
    background-size: 520px 565px;
    background-position: bottom 120px right 0;
    background-color: #1c1a19;
    background-repeat: no-repeat;
  }

  .intro {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .social-icon {
    display: inline-block;
    margin: -160px 0 0 1px;
  }

  .intro .social-icon {
    margin-right: 40px;
    margin-left: 10px;
  }

  .intro h1 {
    margin: 18px 57.2% 24px 0;
    padding-top: 60px;
    font-size: 62px;
    line-height: 81px;
    width: 31%;
  }

  .about {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    width: 40.2%;
    color: #fff;
    margin: -50px 48% 0 0;
  }

  .about-me {
    margin-right: 46%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    width: 40.2%;
    color: #fff;
    font-size: 16px;
  }

  .section-title {
    display: flex;
    align-items: center;
    margin: 0 auto 80px auto;
    width: 85%;
  }

  .section-title hr {
    width: 60%;
    height: 0;
    margin: 122px 33px 0 0;
  }

  .section-one {
    padding-left: 30px;
    width: 440px;
    letter-spacing: 0.03em;
  }

  .recent-work {
    display: flex;
    margin: 0 auto;
    width: 85%;
  }

  .recent-work img {
    width: 520px;
    height: 400px;
  }

  .main {
    width: 100%;
  }

  .mobile-hidden {
    display: block;
  }

  .desktop-hidden {
    display: none;
  }

  .myProjects {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px auto;
    justify-items: center;
  }

  .projectButton {
    display: none;
  }

  .project {
    height: 403px;
    width: 300px;
    border-radius: 0;
  }

  .myProjects .pj1 {
    background: url(./images/projecthover.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .myProjects .pj1 .projectButton {
    display: block;
  }

  .projectHeader h3 {
    width: 278px;
    height: 81px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    margin: 76px auto 24px auto;
  }

  .myProjects .pj1 h3 {
    display: none;
  }

  .projectBody p {
    position: relative;
    margin: 60px auto 13px auto;
    height: 72px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 17px 20px 8px 0;
  }

  .abiodunbody p {
    width: 426px;
    height: 148px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    margin-bottom: 24px;
  }

  .contact-me p {
    line-height: 40px;
    width: 420px;
    margin-top: 10px;
    font-size: 35px;
    margin-left: 10px;
  }

  .popup-window p {
    margin-bottom: 178px;
  }

  .myProjects .pj1 p {
    display: none;
  }

  .myProjects .pj1 ul {
    display: none;
  }

  .myProjects .pj2 {
    background: url(./images/deskt2.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .myProjects .pj3 {
    display: block;
    background: url(./images/deskt3.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .myProjects .pj4 {
    background: url(./images/deskt4.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* animations and transitions style */
  .project:hover .projectButton {
    display: block;
  }

  .project:hover > * {
    display: none;
  }

  .pj1:hover {
    background: url(./images/deskt4.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
  }

  .pj2:hover {
    background: url(./images/deskt2.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
  }

  .pj3:hover {
    background: url(./images/deskt3.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
  }

  .pj4:hover {
    background: url(./images/deskt4.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
  }

  .whoIsAbiodun {
    width: 100%;
    height: 1300px;
    background: #1c1a19;
    background-image: url(./images/footer-desktop.png);
    background-position: top 150px right 0;
    background-size: 428px 271px;
    background-repeat: no-repeat;
    margin-top: 233px;
  }

  .abiodundesc {
    margin: -183px 142px 146px 80px;
  }

  .abiodunHeader h2 {
    width: 566px;
    height: 78px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 81px;
    color: #f55800;
  }

  .abiodunbtn button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #fff;
  }

  .abiodundesc hr {
    margin-top: 153px;
  }

  .abiodunskillheader .language {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .abiodunskillheader ul li {
    list-style-type: none;
  }

  .abiodunskills {
    margin: 0 153px;
    display: flex;
    text-align: left;
    justify-content: space-between;
  }

  .abiodunskills .skilllist ul li {
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    list-style-type: none;
  }

  .footer-img hr {
    width: 84vw;
    margin: 104px 45px 0 22px;
  }

  .contact-me {
    display: flex;
    margin: 70px 60px;
  }

  .terminal-line hr {
    display: none;
  }

  .contact-me button {
    margin-left: 19px;
  }

  .contact-me hr {
    width: 444px;
  }

  .contact-me textarea {
    width: 435px;
  }

  .footer-social-icon {
    display: flex;
    align-items: center;
  }

  .popup-work {
    display: flex;
    width: 80%;
  }

  .popup-window {
    height: 83%;
    width: 85%;
    padding: 10px 12px 13px 37px;
    margin: 30px 10px 10px 29px;
  }

  .popup-menu {
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .popup-heading h2 {
    line-height: 30px;
    padding-top: 10px;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .side-bar {
    padding-left: 30px;
    width: 440px;
    letter-spacing: 0.03em;
  }

  .close-btn {
    left: 876px;
  }

  .image-1 img {
    width: 520px;
    height: 400px;
  }
}
