* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

/* header section */
.info {
  height: 40px;
  padding-bottom: 15px;
  background-color: #3c3a39;
}

.info .my-info {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.my-info a {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.my-info ul {
  display: none;
}

.my-info .name {
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  align-items: center;
  text-align: center;
  padding-left: 24px;
  font-family: 'Roboto', sans-serif;
}

.my-info .harmburger {
  line-height: 24px;
  align-items: center;
  padding-right: 28px;
}

.section-container {
  background-image: url('./images/Group.png');
  background-size: 135px;
  background-position: right 0 bottom -47px;
  background-color: #1c1a19;
  background-repeat: no-repeat;
  height: 106vh;
  color: #fff;
  padding: 0;
}

.intro {
  display: flex;
  flex-direction: column;
}

/* intro section */
.intro h1 {
  color: #ff6b00;
  font-size: 56px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Crete Round', serif;
  letter-spacing: 0.03em;
  line-height: 64px;
  padding-bottom: 30px;
  padding-left: 24px;
  padding-top: 40px;
  margin-top: 68px;
}

.about {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
  padding-left: 24px;
  font-family: 'Roboto', sans-serif;
}

.intro .about-me {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 15px;
}

.social-icon {
  display: flex;
  align-self: flex-start;
  margin-left: 36px;
  padding-top: 18px;
}

.social-icon li {
  padding-right: 18px;
  list-style-type: none;
}

.section-two {
  margin: 24px 24px 30px 24px;
}

.section-title h2 {
  color: #1c1a19;
  font-size: 40px;
  width: 320px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Crete Round', serif;
  padding-top: 80px;
  align-items: center;
  text-align: center;
  margin: 24px auto 0 auto;
}

.section-title hr {
  border: 1px solid #9b9797;
  width: 319px;
  align-items: center;
  margin: 24px auto 24px auto;
}

.section-one h2 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  margin-left: 1px;
  color: #091e42;
  align-items: center;
}

.section-one p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin: 8px 3px;
  padding-right: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: 59px 70px 98px 70px;
  column-gap: 10px;
  margin-left: -4px;
  margin-top: 12px;
}

.grid-item1 {
  text-align: center;
  border: 1px solid hsl(218, 13%, 59%);
  background: #fff;
  box-sizing: border-box;
  color: #091e42;
}

.grid-item2 {
  text-align: center;
  border: 1px solid #8993a4;
  background: #fff;
  box-sizing: border-box;
  color: #091e42;
}

.grid-item3 {
  text-align: center;
  border: 1px solid #8993a4;
  background: #fff;
  box-sizing: border-box;
  color: #091e42;
}

.grid-item4 {
  text-align: center;
  border: 1px solid #8993a4;
  background: #fff;
  box-sizing: border-box;
  color: #091e42;
}

.btn-1 {
  width: 45%;
  height: 48px;
  background: #ff6b00;
  text-align: center;
  font-size: 17px;
  margin-top: 20px;
  border: 1px solid #ff6b00;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.btn-1:enabled {
  background: #ff6b00;
  color: #fff;
}

.btn-1:hover {
  background-color: #fff;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

.btn-1:active {
  background: #ff6b00;
  color: #fff;
}

.btn-2 {
  width: 100%;
  height: 48px;
  background: #ff6b00;
  text-align: center;
  font-size: 17px;
  margin-top: 20px;
  border: 1px solid #ff6b00;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.btn-2:enabled {
  background: #ff6b00;
  color: #fff;
}

.btn-2:hover {
  background-color: #fff;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

.btn-2:active {
  background: #ff6b00;
  color: #fff;
}

.section-one li {
  list-style-type: none;
  padding: 0.5rem 1rem;
  line-height: 20px;
  margin-left: 6px;
}

.section-one a {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: #091e42;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.back-images {
  background-image: url(./images/section-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 19px;
  width: 100%;
}

.back-images h2 {
  margin-top: 10px;
  padding-top: 82px;
  margin-bottom: 10px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 46px;
  padding-left: 19px;
  padding-right: 15px;
  color: #fff;
  letter-spacing: 0.037em;
}

.back-images p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 15px;
  padding-left: 18px;
  color: #fff;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 70px 100px 70px;
  grid-template-rows: 60px;
  column-gap: 10px;
  margin-left: 18px;
  margin-top: -12px;
  width: 80%;
}

.item1 {
  text-align: center;
  padding: 10px;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  color: #091e42;
  background: rgba(255, 255, 255, 0.24);
}

.item1 a {
  text-align: center;
  align-items: center;
}

.back-images li {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 15px;
  line-height: 20px;
}

.back-images a {
  text-decoration: none;
  color: #fff;
}

/* actual page styling */
.whoIsAbiodun {
  width: 100%;
  height: 2090px;
  background: #1c1a19;
  background-image: url(./images/footer-image.png);
  background-position: top 425px right 0;
  background-repeat: no-repeat;
}

.abiodundesc {
  position: relative;
}

.abiodundescleft .abiodunHeader {
  width: 327px;
  height: 79px;
  padding-top: 120px;
  margin: 0 24px 24px 24px;
}

.abiodundescleft .abiodunHeader h2 {
  font-family: 'Crete Round', serif;
  color: #ff6b00;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
}

.abiodunbody {
  margin: 10px 24px 24px 24px;
}

.abiodunbody p {
  width: 327px;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.abiodunbtn {
  width: 161px;
  height: 48px;
  background: #ff6b00;
  text-align: center;
  margin: 24px 0;
}

.abiodunbtn button {
  background: #ff6b00;
  border: 0;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  line-height: 24px;
}

.about-me2 button {
  margin: 10px 0 80px 120px;
  width: 120px;
}

.abiodunbtn button:enabled {
  background: #ff6b00;
  color: #fff;
}

.abiodunbtn button:hover {
  background-color: #fff;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

.abiodunlbtn button:active {
  background: #ff6b00;
  color: #fff;
}

.abiodunlbtn button:disabled {
  background: rgba(255, 255, 255, 0.24);
  color: #000;
}

/* the background image */
.abiodundescright {
  position: absolute;
  right: 0;
  top: 360px;
}

.abiodundescleft {
  margin-top: 80px;
}

.abiodundesc hr {
  margin: 244px 24px 130.73px 24px;
  border: 1px solid #fff;
}

/* skills section */
.abiodunskills {
  margin: 0 24px 0 24px;
  padding-bottom: 131.54px;
}

.skill {
  text-align: center;
}

.abiodunskillheader ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 44px;
}

.abiodunskillheader .lang {
  margin-right: 12px;
  width: 18px;
  height: 18px;
  background: #ff6b00;
  transform: rotate(-45deg);
  margin-bottom: -28px;
}

.abiodunskillheader .language {
  width: 164px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.abiodunskillheader .frame {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  margin-bottom: -28px;
}

.abiodunskillheader .frameworks {
  width: 227px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.abiodunskillheader .sk {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  border-radius: 150px;
  margin-bottom: -28px;
}

.abiodunskillheader > p {
  margin-top: 12px;
}

.abiodunskillheader .skills {
  width: 115px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.about-me2 li {
  list-style-type: none;
}

.footer-social-icon li {
  list-style-type: none;
  padding-right: 15px;
}

.abiodunskills ul li {
  list-style-type: none;
}

.skilllist ul li {
  margin-bottom: 28px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

.about-me2 p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin: 70px 0 40px 0;
  padding: 0 15px 0 20px;
  text-align: center;
}

.input-details {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #979493;
  margin: 10px;
  border-top-style: hidden;
  width: 327px;
}

input {
  border: hidden;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-top: 15px;
  width: 320px;
}

.input-details hr {
  border: -0.5px solid #9b9797;
  width: 320px;
  align-items: center;
  margin-left: 10px;
}

.text-area {
  align-items: center;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-top: 15px;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  padding-top: 20px;
  padding-left: 12px;
  background: #fbf8f7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  width: 310px;
}

.terminal-line hr {
  border: 1px solid #0d151e;
  height: 1px;
  background: #0d151e;
  width: 120px;
  margin-left: 32%;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
}

.footer-social-icon a {
  text-decoration: none;
}
